.all {
    font-family: "gf_Libre_Baskerville variant0", Tofu;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

img {
    border-color: white;
    border: 5px solid white;
    align: center;
    margin-top: 20px;
}

.ctr {
    width: 50%;
    margin-left: 25%;
}
